 <div id='surveyor'>
 <%= form_tag @where_to_go, :method=>"get" do %>
<%= submit_tag "<< Previous Section" %> 
  <% end %>

  <%= form_for @estimate, :url => {:controller => 'recruit', :action => 'index', :id => @estimate.id} do |f| %> 



<div class="survey_section"
     id="survey_section_4"><span class='title'>Estimation
    Questions</span>


<ol>
<li> <div class="question">
 Thinking about ALL of your friends,
    both online (in places like Facebook, Google+, etc.) <i>and</i> in
    the real world, how many of them are men living in the U.S. over
    the age of 18?</div>
<div class = "answer">
<%= f.text_field :male_friends, :id=>"total_men" %>
</div>
</li>


<li> <div class="question">
    Thinking about these  <span id="a_estimate_total_men"></span>
    friends, how many of them would you say identify as gay or
    bisexual?</div>
<div class="answer">
<%= f.text_field :facebook_gay_friends, :id=>"gay_men" %>
</div>
</li>
   <li><div class="question"> According to Facebook you
    have <span id="male_facebook_friends"><%= @male_facebook_friends %></span> Facebook friends
    who are males. Thinking about ONLY these Facebook friends, how many
    of them would you say identify as gay or bisexual?</div>
<div class = "answer">
<%= f.text_field :gay_friends, :id=>"gay_facebook_men" %></div></li>

<li><div  class="question">Based on
    your previous answer, that would
    mean <span id="estimated_percent_of_gb_friends">...</span> percent
    of your Facebook friends are gay or bisexual men.<br /><br />Do
    you think this percentage is</div>
<div class="answer">
 <ol>   <li>  <%= f.radio_button :accuracy, false, :onclick=>"$('#accuracy').show()" %> too low </li>
    <li> <%= f.radio_button :accuracy, false, :onclick=>"$('#accuracy').hide()" %> about right </li>
     <li><%= f.radio_button :accuracy, false, :onclick=>"$('#accuracy').show()" %> too
     high </li></ol>
</div>
</li>

<li id="accuracy" >
    <div class="question">What do you think the right
    percentage is?</div>
<div class="answer">
<%= f.text_field :right_percentage %></div>
</li>
</ol>
 <%= submit_tag "Click Here to Finish" %>

<% end %>
</div>
   <script>
    $(function() {
      $("#total_men").keyup(function()
      {
        $("#a_estimate_total_men").text($("#total_men").val());
      });

     

      $("#gay_facebook_men").keyup(function() {
        var total_male_facebook_friends = parseFloat($("#male_facebook_friends").text());
        var estimated_gb = parseFloat($("#gay_facebook_men").val());
        var percent_gb = Math.round(estimated_gb / total_male_facebook_friends * 100);

        if (isNaN(percent_gb)) {
          $("#estimated_percent_of_gb_friends").text("...");
        }
        else {
          $("#estimated_percent_of_gb_friends").text(percent_gb);
        }
      });

      if ($("#male_facebook_friends")) {
        $.getJSON("<%= url_for :controller => 'facebook', :action => 'total_male_friends' %>", function(data) {
          $("#male_facebook_friends").text(data["total_male_friends"]);
        });
      }
    });

  </script>
