<div style="margin-top: 2em;">


<div class = "instructions" style="margin-bottom: 2em;">
For <b>10 minutes</b> of your time you can <b>earn $5</b> in
Amazon.com credit and <b>make an important contribution to gay and
    bisexual men's health</b>. 
You may also <b>earn up to $15</b> for recruiting friends to take this
survey.

<br />

</div>
  <p style="display: none;"> Your recruit code is: <%= @recruitee_coupon %> </p>

<%= form_for @rsc, :url => { :controller => 'consent', :action => 'info_letter' }, :html=>{:id=>"eligible"}  do |f| %>
<p></p>
<div style="margin-right:auto;width: 500px;padding:1em; height: 200px; border:1px; border-style: dashed; background-color:#eee;text-color:#000;border-color:#333;font-color:#000">
    <div id = "age" style="margin-left: 0em;">
     <%= label_tag 'eighteen_or_older', 'Are you 18 years of age or
     older?' %>
     <br />
      <%= f.radio_button :eighteen_or_older, true, :onclick => "$('#age').hide();$('#gender').show(500);" %> Yes
      <br />
      <%= f.radio_button :eighteen_or_older, false, :onclick => "$('#age').hide(); $('#ineligible').show(500);" %> No
      <span style="margin-left: 2em;"></span>

     </div>
  <div id = "ineligible" style="display: none;margin-left: 0em; ">
      Sorry. You are ineligible to take this survey.
</div>
    <div id="gender" style="display: none; margin-left: 0em;">
        <%= label_tag 'gender', 'Do you consider yourself to be' %>
        <br />
        <%= f.radio_button :gender, "Male", :onclick => "$('#gender').hide();$('#sexuality').show(500);" %>
       <%= label_tag 'gender_male', 'Male' %>
        <br />
        <%= f.radio_button :gender, "Female", :onclick => "$('#gender').hide();$('#ineligible').show(500);"%>
        <%= label_tag 'gender_female', 'Female' %>
        <br />
        <%= f.radio_button :gender, "Male-to-Female", :onclick => "$('#gender').hide();$('#ineligible').show(500);"%>
        <%= label_tag 'gender_mtf', ' Transgender, male-to-female' %>
        <br />
        <%= f.radio_button :gender, "Female-to-Male", :onclick => "$('#gender').hide();$('#sexuality').show(500);"%>
        <%= label_tag 'gender_ftm', ' Transgender, female-to-male' %>
        <br />
        <%= f.radio_button :gender, "Other", :onclick => "$('#gender').hide();$('#ineligible').show(500);"%>
        <%= label_tag 'gender_other', 'Other' %>
</div>
    <div id="sexuality" style="display: none; margin-left: 0em;">
        Do you consider yourself to be
        <br />
       <%= f.radio_button :orientation, "Heterosexual", :onclick => "$('#sexuality').hide();$('#ineligible').show(500);" %>
       <%= label_tag 'heterosexual', 'Heterosexual (straight)' %>
        <br />
        <%= f.radio_button :orientation, "Gay", :onclick =>"$('#sexuality').hide();$('#facebook').show(500);"%>
        <%= label_tag 'gay', 'Gay' %>
        <br />
        <%= f.radio_button :orientation, "Bisexual", :onclick => "$('#sexuality').hide();$('#facebook').show(500);"%>
        <%= label_tag 'bisexual', 'Bisexual' %>
        <br />
       <%= f.radio_button :orientation, "Not-sure", :onclick => "$('#sexuality').hide();$('#ineligible').show(500);" %>
        <%= label_tag 'Other', "Not sure" %>
      </p>
    </div>
        <div id = "facebook" style="display: none; margin-left: 0em;">
     <%= label_tag 'facebook', 'Do you have a Facebook account?' %>
     <br />
      <%= f.radio_button :facebook, true, :onclick => "$('#facebook').hide(); $('#eligible').submit();" %> Yes
      <br />
      <%= f.radio_button :facebook, false, :onclick => "$('#facebook').hide(); $('#ineligible').show(500);" %> No
      <span style="margin-left: 2em;"></span>

     </div>

</div>
  <% end %>
  
</div>
