<div style="margin-top: 2em; width: 550px;margin-left: auto; margin-right:auto">

  
  <b>Please read</b> the following information and <b>indicate below</b> whether
    or not you agree to participate. 


  <div style="margin-top: 2em; width: 500px; margin-top: 1em;margin-left:auto;margin-right:auto;text-align:left; padding:15px; border:1px; border-style: dashed;height: 200px; overflow: scroll;background-color:#eee;color:#000;border-color:#333;">
  <%= render "info_letter_content" %>
</div>

 
 <p>

<%= form_tag({action: "screening"}, id: "consent") do %>
 <%= hidden_field_tag 'direction', value = 'F', id: "direction" %>
<div> Do you agree to these terms and conditions?.</div>
<%= radio_button_tag(:consent, "Yes") %>
<%= label_tag(:consent, "Yes") %>
<%= radio_button_tag(:consent, "No") %>
<%= label_tag(:consent, "No") %>
  <% end %>

</p>
 

 <script>

 function initbuttons () {
  $("#next").bind ({
  click: function (event) {
    $("#consent").submit();
  }
 });

 $("#back").bind ({
  click: function (event) {
  	//window.location.href = "<%= url_for :controller => 'consent', :action => 'index', :id => @recruitee_coupon %>";
    $('#direction').val ('B');
  	$("#consent").submit();
  }
 });}


 window.onload = initbuttons;

 </script>



  
 


