<div style="margin-top: 2em; width: 500px;margin-left: auto; margin-right:auto">
<h2>Screening Question <span id = "qi"></span> of <span id = "qtotal"></span></h2>
<div class = "instructions" style="margin-bottom: 2em;">
Please answer the following questions to determine whether
you are eligible to take the survey.
</div>
<div class = "instructions" style="margin-bottom: 2em;display:none;">
For <b>10 minutes</b> of your time you can <b>earn $5</b> in
Amazon.com credit and <b>make an important contribution to 
    men's health</b>. 
You may also <b>earn up to $15</b> for recruiting friends to take this
survey.

<br />

</div>
  

<%= form_for @facebook_response, :url => { :controller => 'consent', :action => 'update' }, :html=>{:id=>"edit_screening"} do |f| %>
 <%= hidden_field_tag 'direction', value = 'F', id: "direction" %>

<%= f.hidden_field :recruiter_coupon %>
<p></p>
<!div style="margin-right:auto;width: 500px;padding:1em; height: 200px; border:1px; border-style: dashed; background-color:#eee;text-color:#000;border-color:#333;font-color:#000" class="questions">
<div style="margin-right:auto;width: 500px;padding:1em; height: 300px; text-color:#000;border-color:#333;font-color:#000" id="questions">
    <div id = "age"  class="question" style="margin-left: 0em;">
     <%= label_tag 'eighteen_or_older', 'Are you 18 years of age or
     older?' %>
     <br />
      <%= f.radio_button :eighteen_or_older, true %> Yes
      <br />
      <%= f.radio_button :eighteen_or_older, false %> No
      <span style="margin-left: 2em;"></span>

     </div>
  
    <div id="gender" class="question" style="margin-left: 0em;">
        <%= label_tag 'gender', 'What is your current gender identity?' %>
        <br />
        <%= f.radio_button :gender, "Male" %>
       <%= label_tag 'gender_male', 'Male' %>
        <br />
        <%= f.radio_button :gender, "Female" %>
        <%= label_tag 'gender_female', 'Female' %>
        <br />
        <%= f.radio_button :gender, "Male-to-Female"%>
        <%= label_tag 'gender_mtf', ' Transgender, male-to-female' %>
        <br />
        <%= f.radio_button :gender, "Female-to-Male"%>
        <%= label_tag 'gender_ftm', ' Transgender, female-to-male' %>
        <br />
        <%= f.radio_button :gender, "Other"%>
        <%= label_tag 'gender_other', 'Other' %>
</div>
    <div id="sexuality"  class="question" style="margin-left: 0em;">
        Which of the categories best describes you?
        <br />
       <%= f.radio_button :orientation, "Heterosexual"%>
       <%= label_tag 'heterosexual', 'Heterosexual (straight)' %>
        <br />
        <%= f.radio_button :orientation, "Gay"%>
        <%= label_tag 'gay', 'Gay' %>
        <br />
        <%= f.radio_button :orientation, "Bisexual"%>
        <%= label_tag 'bisexual', 'Bisexual' %>
        <br />
       <%= f.radio_button :orientation, "Not-sure" %>
        <%= label_tag 'Other', "Not sure" %>
      </p>
    </div>
        <div id = "facebook"  class="question" style="margin-left: 0em;">
          Since we need your help recruiting others, we need some contact information from you. What is your email address?
          <%= f.text_field :email_address %>
    
  <div style="margin-top: 2em">We use a Facebook app in order to make
  sure we do not get duplicate surveys from you, and to make sure you
  receive your payment information at the end of the survey. You can
  delete the Facebook app (called ReDSSoCS) at any time after the survey is done and you've received your payment.</div>
       

</p>

     </div>

</div>
  <% end %>
  
</div>
<div>
<div id ="faceblogin" style="display: none;">
  <fb:login-button 
        size = "xlarge"
        show-faces="false"
        scope="user_relationships,user_relationship_details"
        onlogin="fb_login()">
        I agree 
      </fb:login-button>
</div>

</div>


<script>
var current = 0;
//var dialog = $("#dialog").dialog({ autoOpen: true });  
 //jQuery(document).ready(function($) { $( "#dialog" ).dialog(); }); 
function initbuttons () {
   
  
  $("#faceblogin").appendTo("#navigation");
 var questions = $("#questions").children();
 <% if @back %>
current = $("#questions").children().length - 1;
<% end %>

 
 if (current == $("#questions").children().length - 1) {
        $($("#next")[0]).hide();
        $($("#faceblogin")[0]).show();
  }
  else {
    $(questions[current]).show();
  }

$("#qtotal").text(questions.length-1);

$("#qi").text(current + 1);

 $("#next").bind ({
  click: function (event) {
    if ($($("#questions").children()[current]).find("input:checked").val() ||
        $($("#questions").children()[current]).find("input:text").val()) {
     $('.field_with_errors').remove();
     if (current < $("#questions").children().length - 1) {
         $(questions[current]).hide();
        current +=1;
        $(questions[current]).show();
        if (current == $("#questions").children().length - 1) {
          $($("#next")[0]).hide();
          $($("#faceblogin")[0]).show();
        }
        else {
          ("#next")[0].value = "NEXT"
        }
      }
      else {
        $("#edit_screening").submit();
      }
    }
    else {
      //alert ("Please enter a value.")
      if ($(".field_with_errors").length == 0) {
        $($("#questions").children()[current]).prepend("<div class='field_with_errors'>Please enter a value</div>");
      }
      //dialog.dialog();
    }
    $("#qi").text(current);
  }
 });

 $("#back").bind ({
  click: function (event) {
    $(questions[current]).hide();
    if (current > 0) {
      current = current - 1;
    } 
    $(questions[current]).show();
    if (current == 0) {
      $('#direction').val ('B');
      $("#edit_screening").submit();   
    }
    $("#qi").text(current);
    $("#faceblogin").hide();
    $("#next").show();
  }
 });}
 window.onload = initbuttons;

function fb_login () {
  if ($($("#questions").children()[current]).find("input:text").val()) {
    $('#edit_screening').submit();
  }
  else {
    if ($(".field_with_errors").length == 0) {
      $($("#questions").children()[current]).prepend("<div class='field_with_errors'>Please enter a value</div>");    
    }
  }
}
</script>

