
<div style="margin-top: 2em; width: 500px;margin-left: auto; margin-right:auto">



 <b>Thank you!</b> You have earned
 <b>$10</b> in Amazon.com credit. Here is your <b>secret recruitment link</b>, known only to you and us.
</p>
<p>
<a href ="<%= @invitation_url %>"><span style="font-size: 13pt;font-weight:bold;"><%=@invitation_url %></span></a>
</p>
<p>Now for the hard part. Help us recruit your friends to take the survey. 
  
</p>

You share the secret recruitment link with your friends, however you like ...

</div>
<div style="margin-top: 2em;">
  <table ><tr><td>
   <div> … by email </div></td><td><%= image_tag "laptolap.png", height: 'auto', width: '150' %> </td><td></td><td>… by cell</td><td><%= image_tag "sftosf.png", height: 'auto', width: '150' %> </td><td></td><td> … or in person </td><td><%= image_tag "inperson.png", height: 'auto', width: '150' %> </td></tr></table>

</div>
<div style="margin-top: 2em; width: 500px;margin-left: auto; margin-right:auto">
You get an additional <b>$10</b> every time someone uses your secret recruitment link to take the survey (max. 5 times).

They must be 18 years of age or older, male, and
 identify as
<% if @facebook_response.orientation == "Gay" or @facebook_response.orientation == "Bisexual" %>
<%= "gay or bisexual." %>
<% else %>
<%= "heterosexual or straight." %>
<% end %>
 <%= form_tag({ :action => 'index', :id  => @facebook_response.id} , id: "edit_survey_response") do %>
  <%= hidden_field_tag 'direction', value = 'F', id: "direction" %>
  <% end %>
</div>
 <script>

 function initbuttons () {
  $("#next").bind ({
  click: function (event) {
    $("#edit_survey_response").submit();
  }
 });

 $("#back").bind ({
  click: function (event) {
  	//window.location.href = "<%= url_for :controller => 'consent', :action => 'index', :id => @recruitee_coupon %>";
    $('#direction').val ('B');
  	$("#edit_survey_response").submit();
  }
 });}


 window.onload = initbuttons;

 </script>


