<h2>Question <span id = "qi"></span> of <span id = "qtotal"></span></h2>

<%= form_for @response, :url => { :action => 'update', :id  => @response.id} , :html => {:id => "edit_survey_response"}  do |f| %>
  <%= hidden_field_tag 'direction', value = 'F', id: "direction" %>

  <div id = "questions" style="width: 500px;padding:1em; height: 200px;">

<div class="question" >
  This survey will ask you questions about topics that may be sensitive in nature, including questions related to sexual orientation and health. Answers are completely anonymous and will not be used in any way other than this individual research study.
</div>

<div class="question">
  Which of the following best represents how you think of yourself?

  <%= render( :partial => 'radiobuttons', :object => ["Gay or lesbian", "Straight", "that is not gay or lesbian", "Bisexual", "Something else", "I don’t know the answer", "Refused"], :locals=> {:f => f, :name => :sexual_orientation}) %>
</div>

<div class="question">
  Do you consider yourself to be Hispanic or Latino? 

  <%= render( :partial => 'radiobuttons', :object => ["Gay or lesbian", "Straight", "that is not gay or lesbian", "Bisexual", "Something else", "I don’t know the answer", "Refused"], :locals=> {:f => f, :name => :hispanic}) %>
</div>

<div class="question">DURING THE PAST 12 MONTHS, have you delayed seeking medical care because of worry about the cost? 
<%= render( :partial => 'radiobuttons', :object => ["Yes", "No", "Refused", "Don’t know"], :locals=> {:f => f, :name => :healthcare_delayed}) %>
</div>

<div class = "question">
Have you ever smoked at least 100 cigarettes in your ENTIRE LIFE? 

<%= render( :partial => 'radiobuttons', :object => ["Yes", "No", "Refused", "Don’t know"], :locals=> {:f => f, :name => :hundred_cigarettes}) %>

</div>
<div class = "question">
Do you NOW smoke cigarettes every day, some days or not at all? 

<%= render( :partial => 'radiobuttons', :object => ["Every day", "Some days", "Not at all", "Refused", "Don’t know"], :locals=> {:f => f, :name => :frequency_cigarettes}) %>
</div>

<div  class = "question">In the PAST YEAR, on how many DAYS did you have 5 or more drinks of any alcoholic beverage? Enter number of days.

  <%= f.text_field :alcohol %>
</div>
<div  class = "question">
How often do you feel worried, nervous or anxious? 

<%= render( :partial => 'radiobuttons', :object => ["daily", "weekly", "monthly", "a few times a year", "never" ], :locals=> {:f => f, :name => :worried}) %> 
</div>
<div  class = "question">
How often do you feel depressed? 
<%= render( :partial => 'radiobuttons', :object => ["daily", "weekly", "monthly", "a few times a year", "never" ], :locals=> {:f => f, :name => :depressed}) %> 
</div>

<div  class = "question">
In your ENTIRE life did you EVER attempt suicide? 

<%= render( :partial => 'radiobuttons', :object => ["Yes", "No"], :locals=> {:f => f, :name => :suicide}) %>

</div>

<div class="question"> Thinking about ONLY your male Facebook friends, how many
    of them would you say identify as 

<%= f.text_field :facebook_gay_friends%>
</div>
</div>
<% end %>

<script>
function initbuttons () {

 var questions = $("#questions").children();
 for (i = 0; i < questions.length; i++) {
  questions[i].hidden = true  ;
 }
 questions[0].hidden = false;

$("#qtotal").text(questions.length-1);
var current = 0;
$("#qi").text(current);

 $("#next").bind ({
  click: function (event) {
    if (current < $("#questions").children().length - 1) {
      questions[current].hidden = true;
      current +=1;
      questions[current].hidden = false;
      
      if (current == $("#questions").children().length - 1) {
        $("#next")[0].value = "Finish Survey";
      }
    }
    else {
      $("#edit_survey_response").submit();
    }
    $("#qi").text(current);
  }
 });

 $("#back").bind ({
  click: function (event) {
    questions[current].hidden = true;
    if (current > 0) {
      current = current - 1;
    } 
    else {
        $('#direction').val ('B');
        $("#edit_survey_response").submit();
    }

    questions[current].hidden = false;
    
    $("#qi").text(current);
  }
 });}
window.onload = initbuttons;

</script>
